<a href="https://colab.research.google.com/github/SoorajSundar1505/MachineLearning/blob/master/Handling_Missing_Values_and_Data_standardization%2C_Label_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import the lib
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import sklearn.datasets

In [ ]:
#load the dataset to pandas dataframe
dataset=pd.read_csv('/content/Placement_Dataset.csv-20231204T050258Z-001.zip')

dataset.head()
dataset.shape
dataset.isnull().sum()

In [ ]:
#Imputation

#central tendencies  -  Mean, Median, Mode

#analyse distribution of data in salary col

fig, ax = plt.subplots(figsize=(8,8))
sb.distplot(dataset.salary)

In [ ]:
#Replace the missing value using median because distplot is skewed (its spiked and went down)
dataset['salary'].fillna(dataset['salary'].median(),inplace=True)
dataset.isnull().sum()

In [ ]:
#filling with mean value

# dataset['salary'].fillna(dataset['salary'].mean(),inplace=True)
# dataset.isnull().sum()


#filling with mode value

# dataset['salary'].fillna(dataset['salary'].mode(),inplace=True)
# dataset.isnull().sum()

In [ ]:
#Drop missing value (not recommended)

dataset_drop = pd.read_csv('/content/Placement_Dataset.csv-20231204T050258Z-001.zip')
dataset_drop.shape

(215, 15)

In [ ]:
dataset_drop.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [ ]:
dataset_drop=dataset_drop.dropna(how='any')
dataset_drop.shape

(148, 15)

In [ ]:
#Data Preprocessing using Data Standardization (Process of standardizing the data to a common format and range)

In [ ]:
dataset=sklearn.datasets.load_breast_cancer()
# print(dataset)

#loading data to pandas
df = pd.DataFrame(dataset.data, columns=dataset.feature_names)
df.head()
df.shape

(569, 30)

In [ ]:
x = df
y = dataset.target

print(x)
print(y)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=3)
print(x.shape,x_train.shape,x_test.shape)

(569, 30) (455, 30) (114, 30)

In [ ]:
#Standardized the data

In [3]:
#Label Encoding - Converting the label into numeric data..

cancer_data = pd.read_csv('/content/breast_cancer_data.csv')
cancer_data.head()

#finding diff labels
cancer_data['diagnosis'].value_counts()

B    357
M    212
Name: diagnosis, dtype: int64

In [7]:
#Here we are going to u Benign and Malignant to numerical form (i.e 0 and 1)
label_encode = LabelEncoder()
labels = label_encode.fit_transform(cancer_data.diagnosis)

#appending labels to DF
cancer_data['target'] = labels
cancer_data.head()

cancer_data['target'].value_counts()

0    357
1    212
Name: target, dtype: int64

In [9]:
#Label for iris data
iris_data = pd.read_csv('/content/iris_data.csv-20231205T035133Z-001.zip')
iris_data.head()
iris_data['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [11]:
label_encode = LabelEncoder()
labels = label_encode.fit_transform(iris_data.Species)

#appending labels to DF
iris_data['target'] = labels
iris_data.head()

#Get count
iris_data['target'].value_counts()

#Iris-setosa - 0  ,  Iris-versicolor - 1, Iris-virginica - 2

0    50
1    50
2    50
Name: target, dtype: int64